@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --f-all: "Mona Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: rgb(16,16,17);
}

.container {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

/* INPUT */

.input-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.input {
    width: 500px;
    height: 50px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background-color: rgb(21,20,22);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    column-gap: 15px;
    padding-right: 5px;
}

.input-itself {
    background-color: transparent;
    border: 0;
    outline: none;
    padding-left: 15px;
    font-size: 1rem;
    color: white;
}

.input-button {
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 0.3rem;
    background-color: rgb(28,27,29);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    cursor: pointer;
    transition: background-color 200ms;
}

.input-button-svg {
    color: white;
    width: 20px;
    height: 20px;
    transition: scale 200ms;
}

.input-button:hover {
    background-color: rgb(35,34,36);
}

.input-button:active {
    background-color: rgb(30,29,31);
}

.input-button:active .input-button-svg {
    scale: 0.8;
}

.input:hover {
    background-color: rgb(25,24,26);
}

/* INPUT DROPDOWN MENU */

.input-drop-down-menu {
    height: 50px;
    border: 0;
    background-color: transparent;
    background-color: rgb(21,20,22);
    padding-left: 5px;
    color: white;
    border-radius: 0.2rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.01);
}

.input-drop-down-menu:hover {
    background-color: rgb(25,24,26);
}

/* OUTPUT */

.output {
    width: 100%;
    padding-inline: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.output-itself {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    row-gap: 15px;
    background: linear-gradient(25deg, rgb(22,22,22), rgb(18, 18, 18), rgb(22,22,22));
    padding: 10px;
    border-radius: 0.4rem;
    border: 1px solid rgba(255,255,255,0.01);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.output-itself-buttons-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 15px;
}

.output-itself-buttons-container-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.output-itself-check-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(16,16,17);
    border: 1px solid rgba(255,255,255,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.output-itself-check-button-svg,
.output-itself-check-button-svg-second {
    color: white;
    width: 20px;
    height: 20px;
}

.output-itself-check-button-svg-second {
    display: none;
}

.output-itself-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgb(13, 11, 11);
    cursor: pointer;
}

.output-itself-delete-button-svg {
    color: white;
    width: 18px;
    height: 18px;
}

.output-itself-delete-button:hover .output-itself-delete-button-svg {
    color: red;
}

.output-itself-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.output-itself-paragraph {
    color: white;
    font-weight: 300;
    padding-inline: 10px;
}